Repository PyAde/JS: changes, and which Mergify rules are due for each by the changed paths.
All: javascript label, html label, markdown label

javascript label:
  label:
    add:
    - javascript file
    - request tim javascript untuk review js file

html label:
  label:
    add:
    - html files
    - request tim javascript untuk review html file

markdown label:
  label:
    add:
    - markdown files

new
  .env.sample
  .eslintignore
  .eslintrc.yml
  .mergify.yml
  .tern-project
  CONTRIBUTING.md
  LICENSE
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
  viewer.js
  yarn.lock
Due: javascript label, markdown label

new
  flexbox.css
  flexbox.html
  login.css
  login.html
Due: html label

new
  media.css
  media.html
Due: html label

new
  icons/paper-plane.png
  icons/plane.png
  icons/shell.jpg
  icons/space-ship.png
  tabel.css
  tabel.html
Due: html label

new
  tabel.css
  tabel.html
Due: html label

Belajar JS
  BS/index.html
  BS/main.js
  BS/main2.js
  tabel.css
Due: javascript label, html label

new
  BS/Array/index.html
  BS/Array/main.js
  BS/DOM/index.html
  BS/DOM/main.js
Due: javascript label, html label

new
  BS/Array/index.html
  BS/Array/main.js
  BS/Array/main2.js
  BS/Array/main3.js
Due: javascript label, html label

new
  BS/Array/main3.js
  BS/Functionn/index.html
  BS/Functionn/main.js
  BS/meocba.js
  BS/tempCodeRunnerFile.js
Due: javascript label, html label

new
  BS/Looping/index.html
  BS/Looping/main.js
Due: javascript label, html label

new
  BS/index.html
  BS/main4.js
  BS/style.css
Due: javascript label, html label

new
  BS/coba.js
  BS/codewars.js
  BS/codewars2.js
Due: javascript label

new
  BS/coba.js
Due: javascript label

new
  BS/Looping/coba2.js
  BS/Looping/index.js
  BS/Looping/tempCodeRunnerFile.js
  BS/coba.js
  BS/loopstatement.js
Due: javascript label

new
  BS/Looping/index.js
Due: javascript label

new
  BS/FormatRequest/main.json
  BS/FormatRequest/new.doc
  BS/Looping/index.js
  BS/codewars2.js
  CODEWARS/Basicsequence.js
  CODEWARS/Bubleshort.js
  CODEWARS/Bug/Deletions.js
  CODEWARS/Bug/Password.js
  CODEWARS/Covert Hash to An Array.js
  CODEWARS/Covertreverse.js
  CODEWARS/Indexoflast.js
  CODEWARS/Objectconcat.js
  CODEWARS/One One.js
  CODEWARS/One and zeros (binarycode).js
  CODEWARS/Sort.js
  CODEWARS/Uppercase.js
  CODEWARS/fintTheOdd.js
  CODEWARS/methodarrayreverse.js
  CODEWARS/sortValue.js
  CODEWARS/tempCodeRunnerFile.js
  Node JS/app.js
  Node JS/index.js
  Node JS/new.doc
  Node JS/package.json
  Node JS/tempCodeRunnerFile.js
  index.js
Due: javascript label

belajar-js
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/new-algorithm.md
  .github/ISSUE_TEMPLATE/new-learn.md
  .github/pull_request_template.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/nodejs.yml
  CODEWARS/Bug/index.js
  CODEWARS/Divisible.js
  CODEWARS/FactoryFunction.js
  CODEWARS/Factoryfunction2.js
  CODEWARS/One and zeros (binarycode).js
  CODEWARS/Sort an array by value.js
  CODEWARS/createphonenumber.js
  CODEWARS/helloworld.js
  CODEWARS/rotatematrix.js
  __tests__/gradeCalculations.test.js
Due: javascript label, markdown label

new
  CODEWARS/Basicdatatypess
  CODEWARS/createphonenumber.js
Due: javascript label

update code codewars
  CODEWARS/Factoryfunction2.js
  CODEWARS/GeneticAlgorithm.js
  CODEWARS/How many word.js
  CODEWARS/KataCantik.js
  CODEWARS/TrueorFalse.js
Due: javascript label

Path conditions:
  javascript label: any of: \.js$
  html label: any of: \.html$
  markdown label: any of: \.md$
